
@import url('https://fonts.googleapis.com/css2?family=Matangi:wght@300..900&family=Oswald:wght@200..700&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Matangi:wght@300..900&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Share+Tech+Mono&display=swap');


:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
  }
  *{
    box-sizing: border-box;
}


  .image {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 50px;
    border-radius: 5px;
  }

  .content{
    width: 100%;
    height: auto;
    margin-left: 32%;
    justify-content: center;
    align-items: center;   }
.cover-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.wrapper{
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
    border-radius: 5px;
}


.image:hover .wrapper{
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow:2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}
.wrapper::before,
.wrapper::after{
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
    border-radius: 5px;
}
.wrapper::before{
    top: 0;
    height: 100%;
    background-image: linear-gradient(
        to top,
        transparent 46%,
        rgba(12, 13, 19, 0.5)68%,
        rgba(12, 13, 19) 97%
    );
    border-radius: 5px;
}

.wrapper::after{
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
        to bottom,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19)97%
    );
    border-radius: 5px;
}
.image:hover .wrapper::before,
.wrapper::after{
    opacity: 1;
}
.image:hover .wrapper::after{
    height: 120px;
}
.title {
    width: 100%;
    transition: transform 0.5s;  }
body{
 margin: 0;
 padding: 40px;
  background: linear-gradient(135deg, #0a0a0a, #1a1a1a);  
 font-family: 'share tech mono', sans-serif;
color: #dddd;

}

.card{

background-color: #1111;
border-radius: 20px;
padding: 40px;
max-width: 900px;
margin: auto;
box-shadow: 0 0 25px rgba(3, 255, 234, 0.3);;
border: 2px solid #ff0808;
animation: pulseGlow 2s infinite alternate;

}


@keyframes pulseGlow {
    from{
        box-shadow: 0 0 10px #fd0000, 0 0 20px #ff1212;
    }
    to{
        box-shadow: 0 0 10px #d32020, 0 0 20px #ff2f2f; 
    }
     }

h1, h2{

font-family: 'Orbitron', sans-serif;
text-align: center;
color: #f70606;
text-shadow: 0 0 10xp hsl(44, 96%, 49%);
margin-bottom: 20px;

}

h1{

     font-size: 2.8rem;

}
     
.section{
 
     margin-bottom: 40px;

}

table{

    width: 100%;
    border-collapse: collapse;
    background-color: #050000;
    color: #ff0808;
    font-size: 1.1em;
    text-shadow: 0 0 4px #c70303, 0 0 9px #d32020;
}

th, td{

  border: 1px solid  #0e0404;
  padding: 12px;
  text-align: left;

}

ul, ol{

padding-left: 20px;
font-size: 1.05em;


}

.badge{

  background-color: rgb(199, 13, 13);  
  color: #000000;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 0.85em;
}

.stat-highlight{

  color: #d32020;  

  font-weight: bold;
  text-shadow: #e4c206;
}


p{
  font-size: 1.1em;
  color: aliceblue;
text-shadow: 0 0 6px #e4c206, 0 0 12px #d32020;

}

.glow{
color: aliceblue;
text-shadow: 0 0 6px #e4c206, 0 0 12px #d32020;

}

.image:hover .title {
    transform: translate3d(0%, -50px, 100px);
}
  .character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
  }
  .image:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
  }
  
